<center> <h2> DS 3000 - Fall 2020</h2> </center>
<center> <h3> Final Report </h3> </center>
<center><h3>Professor Caglar Yildirim</h3></center>

<center> <h2>An Analysis of how Bikesharing Data is Affected by Weather and Time</h2></center>
<center><h4>Nicole Danuwidjaja, Vera Kong</h4></center>

<hr style="height:2px; border:none; color:black; background-color:black;">

#### Executive Summary:

Cities are faced with an increase in usage of bike-sharing programs as such technology is becoming readily available. Bike programs provide more people the opportunity to ride a bike, along with providing health and environmental benefits. To best understand how these programs can be best improved for maintenance and accessibility, this project will analyze the relationships between ride-sharer behavior and the weather, particularly in the city of Boston and their Bluebikes program.

This research project will identify the main feature variables and target variables from datasets pulled from the public Bluebikes data as well as from Boston weather. The datasets are wrangled and cleaned in order to perform data analysis. The project uses a predictive model using machine learning techniques to apply algorithms on the cleaned datasets.

Through this research project, we have identified that there is a strong direct correlation with the number of bikesharers and weather.

<hr style="height:2px; border:none; color:black; background-color:black;">

## Outline
1. <a href='#1'>INTRODUCTION</a>
2. <a href='#2'>METHOD</a>
3. <a href='#3'>RESULTS</a>
4. <a href='#4'>DISCUSSION</a>

<a id="1"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 1. INTRODUCTION

### 1.1 Problem Statement
The primary goal of this project is to determine the number of bike-share users on any given day at a specific hour. Bike-sharing programs worldwide have seen a significant increase in the number of bicycles used across numerous cities, with the number of participants varying based on certain conditions (e.x. time of day, weather, or holiday). Since this usage may vary city by city, we want to try to focus on a single city, like Boston and its BlueBikes program. In this project, we will analyze bicycle data from bike-sharing programs to visualize the trip frequency, duration, types of users, and popular areas of interest. We hope to learn more about how bike-sharing programs can impact city infrastructure and safety for pedestrians and cyclists. Furthermore, we aim to utilize a supervised learning approach along with a few machine learning algorithms to better understand the correlation between time/weather conditions and bike-sharing usage.


### 1.2 Significance
Since bike-sharing programs have been shown to reduce carbon footprint and greenhouse emissions in cities, it is important to determine how we can improve this trend and efficiently manage the bike-sharing system. For example, by analyzing the data relating to the number of bike-share users, we can also determine when maintenance for certain stations should be scheduled. We aim to use this data to tackle areas of improvement with current bike-sharing programs.

By the end of this project, we hope to successfully understand the correlations between times of high or low bicycle usage and how to better improve this system such as analyzing how to properly allocate supply for demand or how to improve road safety to prevent bicycle crashes. This project could also try to predict and help match the demand for these bikes at certain stations since there are times when a station is frequently starved or infrequently used.

Previous work on environmental benefits have cited the positive impacts that bike-sharing programs can have on big cities, such as Beijing, China, as well as how interactions can be influenced by the new nature of public shared transportation. We hope to find out more about what other factors can influence the behavior of ride-sharers in order to improve the programs.

**Articles:** 
https://www.researchgate.net/publication/324259384_Environmental_benefits_of_bike_sharing_A_big_data-based_analysis



### 1.3 Questions

- Can we determine the likelihood of a bike-sharing user using a bike at a particular moment in time?
- What are the busiest/emptiest times to rent a bike in Boston?
- What is the most common duration of time of bike usage?
- How do weather conditions affect bike-sharing usage in Boston?
- Using the data provided, can we determine areas of interest/disinterest in Boston for certain times, weather conditions, or seasons?
- How closely correlated are feature variables of bike-sharing users, such as the duration of their trip, and how does this affect the number of bikesharing users?
- How can we best determine how to predict areas of low/high bicycle usage?

### 1.4 Hypotheses

**Correlation with weather and higher numbers of bike-sharing users**\
Bike-sharing users prefer to bike during seasons where Boston weather is clear and warm (above 50 degrees Fahrenheit) such as Summer and Autumn. Therefore, these seasons will experience higher usage of bikesharing at a given point in time per station.

**Effect of adding weather features to regression model**\
Adding weather features to our regression models, such as humidity, wind, and temperature, will affect the accuracy of the models.

**ML Algorithm Hypothesis**\
The Multiple Linear Regression algorithm will perform the best out of the other regression algorithms in predicting with multiple bike features, excluding weather features.

<a id="2"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 2. METHOD

### 2.1. Data Acquisition

In [ ]:
import pandas as pd

# retrieve the bike dataset from github (without weather feature)
bike_url = 'https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/bike-dataset-v2.csv'
bike_df_without_weather = pd.read_csv(bike_url, error_bad_lines=False)
bike_df_without_weather.head()

       date  hour  customer  subscriber  ...  season  weekday  workday total
0  1/1/2020     0        29          48  ...  winter        2        1    77
1  1/1/2020     1        46          65  ...  winter        2        1   111
2  1/1/2020     2        23          13  ...  winter        2        1    36
3  1/1/2020     3         2           7  ...  winter        2        1     9
4  1/1/2020     4         1           0  ...  winter        2        1     1

[5 rows x 11 columns]

In [ ]:
# retrieve weather features dataset from github 
weather_url = 'https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/weather-v2.csv'
weather_df = pd.read_csv(weather_url, error_bad_lines=False)
weather_df.head()

     Date  Temperature Max (°F)  ...  Pressure Min (Hg)  Precipitation Total (in)
0  1/1/20                    42  ...               29.5                      0.04
1  1/2/20                    48  ...               29.8                      0.00
2  1/3/20                    51  ...               29.7                      0.00
3  1/4/20                    48  ...               29.4                      0.00
4  1/5/20                    40  ...               29.4                      0.24

[5 rows x 17 columns]

#### Bike Data
Source: https://www.bluebikes.com/system-data, https://s3.amazonaws.com/hubway-data/index.html \
We retrieved a majority of `bike_df_without_weather` from the official *Bluebikes* site, specifically their system data of bike trip histories. The dataset comprises nine months of trip data from Janurary 2020 to September 2020 since September was the most recent released dataset at the beginning of this project. A directory of the monthly trip data can be found in *Bluebikes* Amazon bucket.\
The datasets contains information of each individual bike trip that occurred in the month relating to trip duration, time, usertype (customer vs subscriber), and station id/name. Our dataset contains features only relating to trip duration, time, and usertype. We derived various features from these to add more context for each trip, such as the season or whether the trip occurred on a workday. The process of creating and cleaning the bike dataset can be found further on in the Data Wrangling section.


#### Weather Data
Source: https://www.wunderground.com/history/monthly/us/ma/boston/KBOS/date/2020-1 \
For our weather data, we retrieved the data from *Weather Underground*'s site for each month from January 2020 to September 2020 to match the timeline of our bike data. We decided to choose this site as the basis of our weather data because it was able to provide a dataframe-like data to export. The dataset contains information about the daily temperature, humidity, and wind speed to name a few. The original dataset contained the max, avg, and min of each category, but we took only the avg since we believed it would better fit the model later on.

Note: these datasets are geographically based in Boston since most if not all bikesharing programs are usually in cities. And, we can use Boston as an example city of to demonstrate the correlations between time/weather and number of bikeshare users.

#### Bike Data Feature Description

- **date**: the date of which the bike trips took place in MMDDYYYY format
- **hour**: the hour in which the bike trips took place in the range 0-23
- **customer**:	the count of how many users were customers
- **subscriber**: the counts of how many users were Bluebike subscribers
- **trip_duration_mean**: the avg trip duration of the bike trips that occurred in the day
- **trip_duration_std**: the standard deviation of the bike trips that occurred in the day
- **month**: the month of which the bike trips took place in the range 1-12
- **season**: the season the bike trips took place that were either fall, summer, spring, or winter
- **weekday**: the day of the week in the range 0-6, where 0 is Monday and 6 is Sunday
- **workday**: a boolean value determining whether the day was a workday or not (1 is true, 0 is otherwise)
- **total**: the total count of bike-sharing users, derived from the sum of customer and suscriber

**Summary**: The dataset was condensed and simplified into groups of bike trips by the date and hour feature. The bike trips were summed and divided into either the customer or subscriber category. Their duration were also averaged to take into account the length of a standard trip on a given day and time. We chose to use data and hour to group the individual bike trips to gain a better scope of the data throughout the day.

**Count:** the bike dataset has a size of 6549 rows × 11 columns

#### Weather Data Feature Description

We'll be using each category's avg since it will sufficient to use that over min and max

- **avg_temp**: the avergae temperature of the day derived from `Temperature Avg (°F)` in fahrenheit
- **avg_dew_point**: the average dew point of the day derived from `Dew Point Avg (°F)` in fahrenheit
- **avg_hum**: the average humidity levels of the day derived from `Humidity Avg (%)` in percent
- **avg_wind_spd**: the average wind speed of the day derived from `Wind Speed Avg (mph)` in miles per hour
- **avg_press**: the average pressure of the day derived from `Pressure Avg (Hg)` in hectograms
- **total_prec**: the total precipitation of the day derived from `Precipitation Total (in)` in inches

**Summary:** The weather dataset has a plethora of statistics of each category like temperature and humidity. However, we don't necessarily need to use all of them as features, so we picked out the avg of each category to include in our model. These data are ordered by the date they were recorded.

**Count:** the weather dataset has a size of 274 rows × 7 columns

### 2.2. Data Analysis

#### Independent Variables by feature name
- date
- hour	
- customer	
- subscriber	
- trip_duration_mean	
- trip_duration_std	
- month	
- season	
- weekday	
- workday
- avg_temp
- avg_dew_point	
- avg_hum	
- avg_wind_spd	
- avg_press	
- total_prec

#### Dependent Variable by feature name
- total

#### Predictive Model
The predictive model will determine the total number of bikeshare users on a given day at a specific hour. This will also be based on the time of year, day of week, and weather since those are key factors in swaying users to participate in a bike-sharing program. 

We believe that for the purposes of this report, the data provided from bike-sharing users as well as Boston weather will help provide interesting insights into how these factors can affect the number of people who use bikes.

#### Supervised ML Problem
Our problem is a supervised ML problem because we are creating a model and feeding it with datasets that we have processed. Importantly, these datasets are labeled data that are crucial to supervised learning. This is also a regression problem since the target available is not necessary a classification problem, but rather a continuous variable.

#### Machine Learning Algorithms
We will use the Multiple Linear, Ridge, Lasso, and Support Vector Machine regression models since those are the popular regression algorithms used and based on previous performance/accuracy. Moreover, our model will contain multiple features that will contribute to the predictive output, so it is important that we at least include the Multiple Linear Regression in our findings. 

To add context, Multiple Linear Regression involves determining a linear relationship between multiple independent variables and a quantitative dependent variable. For this problem, the total bike riders is the dependent variable with multiple features affecting it: weather, time, and user type.

Comparably, the Ridge and Lasso Regression adds penalties to our regression function to regularize our large dataset and avoid overfitting as much as possible. The Ridge Regression performs the L1 regularization that involves the square of the magnitude of the coefficients, whereas the Lasso Regression performs the L2 regularization that involves the absolute value of the magnitude of the coefficients. Then, including both of these regression algorithms will add insight in regularizing our data and model for the best fit.

Furthermore, the Support Vector Machine (SVM) regression will add a classfication perspective to our dataset. That will minimize the error rate of our regression to a certain threshold. In which case, the best fitted line will be the line hyperplane that contains the maximum number of points, giving us a better fitting model.

<a id="3"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 3. RESULTS

### 3.1. Data Wrangling

#### Data Cleaning and Wrangling

In [ ]:
import datetime as dt

# this was the process of taking each bike dataset from each month and deriving a few other features,
# while removing unneccessary columns that were not going to be used in our model
# this also included a few simple cleaning steps since there were data with NA values, values with left 0s, and unformatted 
# values with many decimal points

# determines the season given the month
def determine_season(month):
    if month in [9,10,11]:
        return 'fall'
    elif month in [12,1,2]:
        return 'winter'
    elif month in [3,4,5]:
        return 'spring'
    else:
        # in my opinion, the best season
        return 'summer'

bike_months = []
for i in range(1,10):
    df = pd.read_csv('https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/0' + str(i) + '-2020.csv')
    # create a new df to contain the unique dates
    cleaned_df = df['date'].drop_duplicates().to_frame().reset_index().drop(columns=['index'])
    # add a new column using the hour of the start time of a trip
    df['hour'] = df['start_time'].apply(lambda x : int(x[0:2]))

    # creating columns for usertypes customer and suscriber with the total user count
    usertype = df.groupby(by=['date', 'hour'])['usertype'].value_counts().to_frame().unstack(level='usertype')
    usertype.reset_index(inplace=True)
    usertype.columns = ['date', 'hour', 'customer', 'subscriber']

    # create the mean and std columns for the trip duration grouped by date and hour
    # then add it onto the previous dataframe to merge with cleaned_df
    trip_stat = df.groupby(by=['date', 'hour'])['tripduration'].agg(['mean', 'std'])
    trip_stat.reset_index(inplace=True)
    usertype['trip_duration_mean'] = trip_stat['mean'].round(2)
    usertype['trip_duration_std'] = trip_stat['std'].round(2)
    usertype.fillna(0, inplace=True)
    
    # remove trailing zeroes
    usertype['subscriber'] = usertype['subscriber'].apply(lambda x : int(format(x, '.0f')))
    usertype['customer'] = usertype['customer'].apply(lambda x : int(format(x, '.0f')))

    cleaned_df = cleaned_df.merge(usertype, how='inner', left_on='date', right_on='date')
    # month column for the month of the year
    cleaned_df['month'] = cleaned_df['date'].apply(lambda x : int(x[5:7]))
    # season column that is one of winter, fall, spring, and summer
    cleaned_df['season'] = cleaned_df['month'].apply(lambda x : determine_season(x))
    # a weekday column for the day of the week: monday-sunday (0-6)
    cleaned_df['weekday'] = cleaned_df['date'].apply(lambda x : dt.date(int(x[0:4]), int(x[5:7]), int(x[8:])).weekday())
    # workday column to check if the day is a part of the weekday or weekend (1 or 0)
    cleaned_df['workday'] = cleaned_df['weekday'].apply(lambda x : 0 if x > 4 else 1)
    # get the total bike user column and remove the trailing zeroes
    cleaned_df['total'] = (cleaned_df['customer'] + cleaned_df['subscriber']).apply(lambda x : int(format(x, '.0f')))
    
    # add this month's dataset onto the array for concatention later
    bike_months.append(cleaned_df)

bike_df = pd.concat(bike_months, ignore_index=True)

# convert date column into numerical value by removing dashes
bike_df['date'] = bike_df['date'].apply(lambda x : int(x.replace('-','')))

In [ ]:
# note: the date column below is formatted slightly differently than before that the csv/github reformatted
bike_df

          date  hour  customer  subscriber  ...  season  weekday  workday total
0     20200101     0        29          48  ...  winter        2        1    77
1     20200101     1        46          65  ...  winter        2        1   111
2     20200101     2        23          13  ...  winter        2        1    36
3     20200101     3         2           7  ...  winter        2        1     9
4     20200101     4         1           0  ...  winter        2        1     1
...        ...   ...       ...         ...  ...     ...      ...      ...   ...
6544  20200930    19       141         512  ...    fall        2        1   653
6545  20200930    20        89         299  ...    fall        2        1   388
6546  20200930    21        70         210  ...    fall        2        1   280
6547  20200930    22        65         168  ...    fall        2        1   233
6548  20200930    23        52         123  ...    fall        2        1   175

[6549 rows x 11 columns]

In [ ]:
# cleaning the weather dataset to only include avg of each category since avg should be more than enough to describe each day and catgeory
df = pd.read_csv('https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/weather-v2.csv',error_bad_lines=False)
df["Date"] = pd.to_datetime(df["Date"]).dt.strftime('%Y-%m-%d')
weather = df[["Date", "Temperature Avg (°F)", "Dew Point Avg (°F)", "Humidity Avg (%)", "Wind Speed Avg (mph)", "Pressure Avg (Hg)", "Precipitation Total (in)"]]
weather = weather.rename(columns={"Date": "date", "Temperature Avg (°F)": "avg_temp", "Dew Point Avg (°F)": "avg_dew_point", "Humidity Avg (%)": "avg_hum", "Wind Speed Avg (mph)": "avg_wind_spd", "Pressure Avg (Hg)": "avg_press", "Precipitation Total (in)": "total_prec"})
# modify dataset to only contain averages

# convert date from string into numerical value
weather['date'] = weather['date'].apply(lambda x : int(x.replace('-','')))

In [ ]:
weather

         date  avg_temp  avg_dew_point  ...  avg_wind_spd  avg_press  total_prec
0    20200101      38.9           23.8  ...          15.5       29.6        0.04
1    20200102      40.8           23.9  ...          12.6       29.8        0.00
2    20200103      48.1           33.3  ...           7.2       29.8        0.00
3    20200104      44.8           38.8  ...           5.7       29.6        0.00
4    20200105      37.0           24.2  ...          16.6       29.6        0.24
..        ...       ...            ...  ...           ...        ...         ...
269  20200926      63.4           58.6  ...           6.9       30.1        0.00
270  20200927      69.0           64.4  ...           7.6       30.0        0.00
271  20200928      68.8           65.2  ...           8.6       29.9        0.00
272  20200929      68.7           62.7  ...           7.9       29.9        0.05
273  20200930      69.4           60.0  ...          18.9       29.6        0.42

[274 rows x 7 columns]

#### More Data Wrangling

In [ ]:
# creates dataframe with weather feature
bike_df_with_weather = bike_df.merge(weather, how='inner', left_on='date', right_on='date')

In [ ]:
bike_df_with_weather

          date  hour  customer  ...  avg_wind_spd  avg_press  total_prec
0     20200101     0        29  ...          15.5       29.6        0.04
1     20200101     1        46  ...          15.5       29.6        0.04
2     20200101     2        23  ...          15.5       29.6        0.04
3     20200101     3         2  ...          15.5       29.6        0.04
4     20200101     4         1  ...          15.5       29.6        0.04
...        ...   ...       ...  ...           ...        ...         ...
6544  20200930    19       141  ...          18.9       29.6        0.42
6545  20200930    20        89  ...          18.9       29.6        0.42
6546  20200930    21        70  ...          18.9       29.6        0.42
6547  20200930    22        65  ...          18.9       29.6        0.42
6548  20200930    23        52  ...          18.9       29.6        0.42

[6549 rows x 17 columns]

In [ ]:
# create target and feature variables
target = bike_df['total']

In [ ]:
target

0        77
1       111
2        36
3         9
4         1
       ...
6544    653
6545    388
6546    280
6547    233
6548    175
Name: total, Length: 6549, dtype: int64

In [ ]:
features_without_weather = bike_df.drop(columns=['total'])

In [ ]:
features_without_weather

          date  hour  customer  subscriber  ...  month  season  weekday workday
0     20200101     0        29          48  ...      1  winter        2       1
1     20200101     1        46          65  ...      1  winter        2       1
2     20200101     2        23          13  ...      1  winter        2       1
3     20200101     3         2           7  ...      1  winter        2       1
4     20200101     4         1           0  ...      1  winter        2       1
...        ...   ...       ...         ...  ...    ...     ...      ...     ...
6544  20200930    19       141         512  ...      9    fall        2       1
6545  20200930    20        89         299  ...      9    fall        2       1
6546  20200930    21        70         210  ...      9    fall        2       1
6547  20200930    22        65         168  ...      9    fall        2       1
6548  20200930    23        52         123  ...      9    fall        2       1

[6549 rows x 10 columns]

In [ ]:
features_with_weather = bike_df_with_weather.drop(columns=['total'])

In [ ]:
features_with_weather

          date  hour  customer  ...  avg_wind_spd  avg_press  total_prec
0     20200101     0        29  ...          15.5       29.6        0.04
1     20200101     1        46  ...          15.5       29.6        0.04
2     20200101     2        23  ...          15.5       29.6        0.04
3     20200101     3         2  ...          15.5       29.6        0.04
4     20200101     4         1  ...          15.5       29.6        0.04
...        ...   ...       ...  ...           ...        ...         ...
6544  20200930    19       141  ...          18.9       29.6        0.42
6545  20200930    20        89  ...          18.9       29.6        0.42
6546  20200930    21        70  ...          18.9       29.6        0.42
6547  20200930    22        65  ...          18.9       29.6        0.42
6548  20200930    23        52  ...          18.9       29.6        0.42

[6549 rows x 16 columns]

#### Feature Extraction

In [ ]:
from sklearn.preprocessing import OneHotEncoder
# OneHotEncoding encodes categorical features as a one-hot numeric array
# applies OneHotEncoding over the season feature since that's categorical
encoder = OneHotEncoder(sparse=False)
encoded_season = encoder.fit_transform(features_without_weather['season'].values.reshape(-1,1))
encoded_season_df = pd.DataFrame(encoded_season, columns=encoder.get_feature_names())

In [ ]:
encoded_season_df

      x0_fall  x0_spring  x0_summer  x0_winter
0         0.0        0.0        0.0        1.0
1         0.0        0.0        0.0        1.0
2         0.0        0.0        0.0        1.0
3         0.0        0.0        0.0        1.0
4         0.0        0.0        0.0        1.0
...       ...        ...        ...        ...
6544      1.0        0.0        0.0        0.0
6545      1.0        0.0        0.0        0.0
6546      1.0        0.0        0.0        0.0
6547      1.0        0.0        0.0        0.0
6548      1.0        0.0        0.0        0.0

[6549 rows x 4 columns]

In [ ]:
# substitute the season feature with the encoded dataframe since we don't want categorical features to remain
# drop the season column and add the encoded seasons for features without weather
features_without_weather_season = features_without_weather.drop(columns=['season'])
encoded_features = pd.concat([features_without_weather_season, encoded_season_df], axis=1).reindex(features_without_weather_season.index)

# drop the season column and add the encoded seasons for features with weather
features_with_weather_season = features_with_weather.drop(columns=['season'])
encoded_features_weather = pd.concat([features_with_weather_season, encoded_season_df], axis=1).reindex(features_with_weather_season.index)

In [ ]:
encoded_features

          date  hour  customer  ...  x0_spring  x0_summer  x0_winter
0     20200101     0        29  ...        0.0        0.0        1.0
1     20200101     1        46  ...        0.0        0.0        1.0
2     20200101     2        23  ...        0.0        0.0        1.0
3     20200101     3         2  ...        0.0        0.0        1.0
4     20200101     4         1  ...        0.0        0.0        1.0
...        ...   ...       ...  ...        ...        ...        ...
6544  20200930    19       141  ...        0.0        0.0        0.0
6545  20200930    20        89  ...        0.0        0.0        0.0
6546  20200930    21        70  ...        0.0        0.0        0.0
6547  20200930    22        65  ...        0.0        0.0        0.0
6548  20200930    23        52  ...        0.0        0.0        0.0

[6549 rows x 13 columns]

In [ ]:
encoded_features_weather

          date  hour  customer  ...  x0_spring  x0_summer  x0_winter
0     20200101     0        29  ...        0.0        0.0        1.0
1     20200101     1        46  ...        0.0        0.0        1.0
2     20200101     2        23  ...        0.0        0.0        1.0
3     20200101     3         2  ...        0.0        0.0        1.0
4     20200101     4         1  ...        0.0        0.0        1.0
...        ...   ...       ...  ...        ...        ...        ...
6544  20200930    19       141  ...        0.0        0.0        0.0
6545  20200930    20        89  ...        0.0        0.0        0.0
6546  20200930    21        70  ...        0.0        0.0        0.0
6547  20200930    22        65  ...        0.0        0.0        0.0
6548  20200930    23        52  ...        0.0        0.0        0.0

[6549 rows x 19 columns]

#### Testing and Training Sets

In [ ]:
from sklearn.model_selection import train_test_split
# split datasets into training and testing to use for our models later on

# training and testing sets for with weather
X_train_weather, X_test_weather, y_train_weather, y_test_weather = train_test_split(encoded_features_weather, target, random_state=3000)

# training and testing sets without weather
X_train, X_test, y_train, y_test = train_test_split(encoded_features, target, random_state=3000)

#### Preprocessing

In [ ]:
from sklearn.preprocessing import MinMaxScaler
# MinMaxScaler transforms the features by scaling each feature to a given range
# applies MinMaxScaler to standardize our data
def preprocess(train, test):
    scaler = MinMaxScaler().fit(train)
    
    #scale/transform testing and training sets
    X_train_scaled = scaler.transform(train)
    X_test_scaled = scaler.transform(test)

    return X_train_scaled, X_test_scaled

In [ ]:
# preprocess the encoded features without weather data
X_train_scaled, X_test_scaled = preprocess(X_train, X_test)

# preprocess the encoded features with weather data
X_train_weather_scaled, X_test_weather_scaled = preprocess(X_train_weather, X_test_weather)

#### Feature Selection

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeRegressor
# applies Recursive Feature Elimination (RFE) to select the best features to use through ranking
# this is an iterative approach over the encoded_features df since we can use the features selected here to create a new dataframe
# with weather data
def rank_features():  
    rfe = RFE(DecisionTreeRegressor(random_state=3000), n_features_to_select = 3)
    # fit the model
    rfe.fit(X_train_scaled, y_train)
    # select 3 best features and apply to the x train and test scaled sets
    X_train_selected = rfe.transform(X_train_scaled)
    X_test_selected = rfe.transform(X_test_scaled)
    
    #print the features selected 
    print('Selected features after RFE:')
    features = encoded_features.columns[rfe.get_support()]
    for cname in features:
        print('\t',cname)
        
    return X_train_selected, X_test_selected, features

In [ ]:
X_train_selected, X_test_selected, selected_features = rank_features()

Selected features after RFE:
	 date
	 customer
	 subscriber

In [ ]:
# create the dataframe with only the selected features plus weather data
# then preprocess and train_test_split it
selected_df = pd.DataFrame()
for cname in selected_features:
    selected_df[cname] = bike_df[cname]
    
selected_df['avg_temp'] = features_with_weather['avg_temp']
selected_df['avg_dew_point'] = features_with_weather['avg_dew_point']
selected_df['avg_hum'] = features_with_weather['avg_hum']
selected_df['avg_wind_spd'] = features_with_weather['avg_wind_spd']
selected_df['avg_press'] = features_with_weather['avg_press']
selected_df['total_prec'] = features_with_weather['total_prec']

In [ ]:
selected_df

          date  customer  subscriber  ...  avg_wind_spd  avg_press  total_prec
0     20200101        29          48  ...          15.5       29.6        0.04
1     20200101        46          65  ...          15.5       29.6        0.04
2     20200101        23          13  ...          15.5       29.6        0.04
3     20200101         2           7  ...          15.5       29.6        0.04
4     20200101         1           0  ...          15.5       29.6        0.04
...        ...       ...         ...  ...           ...        ...         ...
6544  20200930       141         512  ...          18.9       29.6        0.42
6545  20200930        89         299  ...          18.9       29.6        0.42
6546  20200930        70         210  ...          18.9       29.6        0.42
6547  20200930        65         168  ...          18.9       29.6        0.42
6548  20200930        52         123  ...          18.9       29.6        0.42

[6549 rows x 9 columns]

In [ ]:
# train test split the selected features and weather dataframe 
X_train_selected_weather, X_test_selected_weather, y_train_selected_weather, y_test_selected_weather = train_test_split(selected_df, target, random_state=3000)

In [ ]:
# preprocess the above train and test sets and since the features doesn't seem to include 'season' we won't do OHE here
X_train_selected_weather, X_test_selected_weather = preprocess(X_train_selected_weather, X_test_selected_weather)

The training and test sets we will use in **Section 3.4. Hypothesis Testing** are:

**All Features without weather:**\
X_train_scaled, X_test_scaled, y_train, y_test

**All Features with weather:**\
X_train_weather_scaled, X_test_weather_scaled,  y_train_weather, y_test_weather

**Selected features without weather:**\
X_train_selected, X_test_selected, y_train, y_test

**Selected features with weather:**\
X_train_selected_weather, X_test_selected_weather, y_train_selected_weather, y_test_selected_weather

### 3.2. Data Exploration
The interactive graphs and images can be found on our GitHub Repo:
https://github.com/VKong6019/ds3000-F20/tree/main/visualizations

In [ ]:
# allow inline rendering just in case
%matplotlib notebook
import plotly.express as px
import plotly
from datetime import datetime

#### Temperature vs. Bike Share Users: Scatter Plot

In [ ]:
# we'll need to organize the dataset a bit to better plot the graph
# take the temperature, customer, and suscriber columns, then groupby the temperature
bike_df_by_temp = bike_df_with_weather[['customer', 'subscriber', 'avg_temp']]
bike_df_by_temp = bike_df_by_temp.groupby(by='avg_temp').sum().reset_index()

In [ ]:
bike_df_by_temp

     avg_temp  customer  subscriber
0        20.6       178        2876
1        22.0       334        1969
2        22.3       191        1285
3        23.3       188        3777
4        23.8       149        1968
..        ...       ...         ...
210      82.8      2188        6518
211      83.5      1773        5295
212      83.8      2292        6150
213      86.0      2026        5725
214      86.2      1831        5445

[215 rows x 3 columns]

In [ ]:
# create a scatter plot for temperature and customer
scatter_customer = px.scatter(bike_df_by_temp, x='avg_temp', y='customer', size='customer', size_max=25,
                              template='none', title='Relationship between Temperature and Customers')
# update the chart to make it easier to read (and cool to look at)
scatter_customer.update_xaxes(title='Average Temperature (°F)', title_font={"size":18, "family": "Courier", "color":"gray"},
                tickfont={'size':16, 'family': 'Courier', 'color':'gray'}, showgrid=False)
scatter_customer.update_yaxes(title='Count of Customers', title_font={"size":18, "family": "Courier", "color":"gray"},
                tickfont={'size':16, 'family': 'Courier', 'color':'gray'})

scatter_customer.show()

![scatterplot](https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/visualizations/scatter_customer.png)

GitHub Link to Scatter Plot: https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/visualizations/scatter_customer.png

In [ ]:
plotly.offline.plot(scatter_customer, filename='customer_scatter.html')

'customer_scatter.html'

In [ ]:
# create a scatter plot for temperature and subscriber
scatter_subscriber = px.scatter(bike_df_by_temp, x='avg_temp', y='subscriber', size='subscriber', size_max=25,
                              template='none', title='Relationship between Temperature and Subscriber')
# update the chart to make it easier to read (and cool to look at)
scatter_subscriber.update_xaxes(title='Average Temperature (°F)', title_font={"size":18, "family": "Courier", "color":"gray"},
                tickfont={'size':16, 'family': 'Courier', 'color':'gray'}, showgrid=False)
scatter_subscriber.update_yaxes(title='Count of Subscriber', title_font={"size":18, "family": "Courier", "color":"gray"},
                tickfont={'size':16, 'family': 'Courier', 'color':'gray'})

scatter_subscriber.show()

![scatter plot](https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/visualizations/scatter_subscriber.png)

GitHub Link to Scatter Plot: https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/visualizations/scatter_subscriber.png

In [ ]:
plotly.offline.plot(scatter_subscriber, filename='subscriber_scatter.html')

'subscriber_scatter.html'

##### Interpretation
The two scatterplot graphs above illustrate the relationships between *1) temperature and number of bikeshare users*, and *2) temperature and number of bikeshare subscribers*.

These graphs were applied to the average temperature, measured in Fahrenheit (x-axis), to compare the trends between two user types: subscribers and customers (y-axis). The size of the data points on the graph represents the quantity of bike trips. Interestingly, the temperature seems to correlate with the number of bikesharers, as both graphs indicate that at higher temperatures, more bike trips were taken, which is shown as the clusters are more frequent and larger in both scatterplots.

In the subscriber's scatterplot, the number of bike trips seems to have more visibility than the customer one. That leads to the conclusion that the type of user has a correlation to how frequent bike trips will occur considering the temperature.

Based on the data shown, it can be concluded that bikesharers are less likely to take bike trips during colder temperatures than warmer temperatures.

#### Date vs. Bike Share Users: Line Chart

In [ ]:
# the original df was organized by date AND hour, so we'll need to modify the df a bit to better graph it
# take the date, customer, and subscriber columns
bike_df_by_date = bike_df[['date', 'customer', 'subscriber']]
bike_df_by_date = bike_df_by_date.groupby(by='date').sum().reset_index()
# melt the dataframe so we can use customer and suscriber together as a usertype
melted_df = bike_df_by_date.melt(id_vars=['date'], var_name='usertype', value_name='count')
# format the date so that it's easier to read and remove the year since all the months are in the same year
melted_df['date'] = melted_df['date'].apply(lambda x : datetime.strptime(str(x), '%Y%m%d').strftime('%m/%d').lstrip('0'))
melted_df

     date    usertype  count
0    1/01    customer    424
1    1/02    customer    434
2    1/03    customer    530
3    1/04    customer    229
4    1/05    customer    289
..    ...         ...    ...
543  9/26  subscriber   7880
544  9/27  subscriber   6610
545  9/28  subscriber   7002
546  9/29  subscriber   7880
547  9/30  subscriber   6500

[548 rows x 3 columns]

In [ ]:
# create the line chart with the line group based on usertype (customer and suscriber)
line_fg = px.line(melted_df, x='date', y='count', line_group='usertype', color='usertype',
                 title='Customer and Subscriber Bike Trips by Date in 2020', template='none')
# update the chart to make it easier to read (and cool to look at)
line_fg.update_xaxes(title_font={"size":18, "family": "Courier", "color":"gray"},
                tickfont={'size':16, 'family': 'Courier', 'color':'gray'}, showgrid=False, tickangle=45)
line_fg.update_yaxes(title_font={"size":18, "family": "Courier", "color":"gray"},
                tickfont={'size':16, 'family': 'Courier', 'color':'gray'})
line_fg.update_traces(mode='lines+markers')
#show the line chart!
line_fg.show()

![line chart](
https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/visualizations/line_fg.png)

GitHub Link to line chart:
https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/visualizations/line_fg.png

In [ ]:
plotly.offline.plot(line_fg, filename='bike_trip_line.html')

'bike_trip_line.html'

##### Interpretation
This line graph used the dates of bike trips to compare the number of bike-share users of customers versus subscribers. Bikesharing customers are users who uses Boston's Bluebike Program casually or on a pay-per-ride basis, whereas Bikesharing subscribers purchase a monthly or annual membership that grants full access to bikes within a timeframe. 

There are two lines drawn on the chart, one for each user type, that show the trends throughout the year by plotting the number of trips conducted each day. Between the months of January and March, there is a noticeable upward trend in number of trips for subscribers. However, the months after March to May show a stark dip in bike trips for both subscribers and customers. This decline is attributed to the fact that COVID-19 radically affected people's regular activity and is not in correlation to the date; therefore, this report will take this discrepancy into account. Moreover, we can see that those months would imply warmer temperature that fit well with the months after May. Up until September, there is a rising number of bike trips for both customer and subscribers.

The amount of customers is noticeably low in the first quarter of the year, although the number of trips becomes significantly higher towards the end of the year. This is possibly due to the change in temperature throughout the year as seasons transition into warmer temperatures in spring and summer.

#### Time of Day vs. Bike Share Users: Histogram

In [ ]:
# organize the bike_df dataset so that it's grouped by time rather than both time and day
time_bike_df = bike_df[['hour', 'total']]
time_bike_df = time_bike_df.groupby(by='hour').sum().reset_index()
time_bike_df['total'] = time_bike_df['total']

In [ ]:
time_bike_df

    hour   total
0      0   16412
1      1   10293
2      2    5595
3      3    3209
4      4    3273
5      5   10005
6      6   28386
7      7   55530
8      8   86382
9      9   70557
10    10   65358
11    11   76642
12    12   91466
13    13   96776
14    14  100161
15    15  110029
16    16  133190
17    17  165721
18    18  151805
19    19  117217
20    20   78033
21    21   50459
22    22   37163
23    23   25648

In [ ]:
# create a histogram of the time_bike_df dataset
time_hist = px.histogram(time_bike_df, x='hour', y='total', nbins=24, histfunc='sum',
                        labels={'hour': 'Hour', 'total':'Total Count of Bike Trips'})
time_hist.show()

![histogram](https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/visualizations/time_hist.png)

GitHub Link for histogram: 
https://raw.githubusercontent.com/VKong6019/ds3000-F20/main/visualizations/time_hist.png

In [ ]:
plotly.offline.plot(time_hist, filename='time_hist.html')

'time_hist.html'

##### Interpretation
The hour and sum of bike trips were utilized as variable in this histogram, determining whether there was simliarities to a normal distribution. 

Upon inspection, the graph seems to be left-skewed, implying our data has fewer count of bike trips at early hours. In other words, there are significantly more bike trips occuring at the later hours at hours 15 to 19 (3pm to 6pm). The curve isn't exactly symmetrical to classify as a normal distribution, but the graph does show a trend in bike trips occurring more often in the afternoon into the evening. This is likely due to people's typical work schedules which would be the most popular time for people to commute via bike from the office or exercise during free time.

### 3.3. Model Construction

#### Hypothesis Analysis
From the graphs above, it is observed that there can be a correlation between weather and the number of bike-sharing users, as there is a greater number of bike-sharing users in higher temperatures. Moreover, the results indicate that there also lies a significant correlation with the number of bike-sharing users with the type of bikeshare user (customer versus subscriber), as well as the time of day.

By plotting out the dates in which rides were conducted, the results provided insight into how weather, seasonal changes, and other natural phenomenons can affect both the frequency and quantity of bike-sharers. Based on our hypothesis, we theorized that bike-sharers were more likely to bike in the afternoon, as the demographic of bike-sharing users were likely to have full-time jobs and be preoccupied until late afternoon/evening. 

In our hypothesis testing, we hope to find a positive correlation with the number of bike-sharers and the temperature in weather, as well as findings that support an increase in bike-sharing users in seasons with warmer temperatures, such as summer and early fall. As part of our testing, we aim to reject the null hypothesis, as we believe there is a strong enough correlation between our independent and dependent variables.

#### Machine Learning Experiment
In our model construction, we will apply four different types of estimator models to fit to our data. The experiment will compare the results among the estimator models based on their training set and testing set R^2 scores.

In our hypothesis, we predicted that Multiple Linear Regression will perform the best out of the four regression algorithms to in handling predictions for multiple bike features, excluding weather features, as the algorithm is relatively simple for calculating regression relationships.

In [ ]:
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score

# dictionary of ML models
estimators = {'Multiple Linear Regression': LinearRegression(), 'Ridge': Ridge(), 'Lasso': Lasso(), 
              'Support Vector Machine': SVR(max_iter=100000)}

# run ml model for features and finds percentage split
def process_ml_estimator(X_train, X_test, y_train, y_test):
    # create model for each estimator by applying data
    for estimator_name, estimator_object in estimators.items():
        model = estimator_object.fit(X=X_train, y=y_train)
        # apply r-squared regression score function to determine linearity
        R2_train = r2_score(y_train, model.predict(X_train))
        R2_test = r2_score(y_test, model.predict(X_test))
        
        print("\t" + estimator_name)
        print("\t\tR-squared value for training set: ", round(R2_train, 4))
        print("\t\tR-squared value for testing set: ", round(R2_test, 4))

In [ ]:
print("ALL FEATURES")
print("======================================================")
print("All features without weather: ")
process_ml_estimator(X_train_scaled, X_test_scaled, y_train, y_test)

print("All features with weather: ")
process_ml_estimator(X_train_weather_scaled, X_test_weather_scaled, y_train_weather, y_test_weather)
print("\n")
print("======================================================")

print("SELECTED FEATURES")
print("======================================================")
print("Selected features without weather: ")
process_ml_estimator(X_train_selected, X_test_selected, y_train, y_test)

print("Selected features with weather: ")
process_ml_estimator(X_train_selected_weather, X_test_selected_weather, y_train_selected_weather, y_test_selected_weather)
print("======================================================")

ALL FEATURES
======================================================
All features without weather:
	Multiple Linear Regression
		R-squared value for training set:  1.0
		R-squared value for testing set:  1.0
	Ridge
		R-squared value for training set:  1.0
		R-squared value for testing set:  1.0
	Lasso
		R-squared value for training set:  0.9993
		R-squared value for testing set:  0.9993
	Support Vector Machine
		R-squared value for training set:  0.4598
		R-squared value for testing set:  0.471
All features with weather:
	Multiple Linear Regression
		R-squared value for training set:  1.0
		R-squared value for testing set:  1.0
	Ridge
		R-squared value for training set:  1.0
		R-squared value for testing set:  1.0
	Lasso
		R-squared value for training set:  0.9993
		R-squared value for testing set:  0.9993
	Support Vector Machine
		R-squared value for training set:  0.4392
		R-squared value for testing set:  0.4482


======================================================
SELECTED FEATURES
======================================================
Selected features without weather:
	Multiple Linear Regression
		R-squared value for training set:  1.0
		R-squared value for testing set:  1.0
	Ridge
		R-squared value for training set:  1.0
		R-squared value for testing set:  1.0
	Lasso
		R-squared value for training set:  0.9993
		R-squared value for testing set:  0.9993
	Support Vector Machine
		R-squared value for training set:  0.8739
		R-squared value for testing set:  0.8862
Selected features with weather:
	Multiple Linear Regression
		R-squared value for training set:  1.0
		R-squared value for testing set:  1.0
	Ridge
		R-squared value for training set:  1.0
		R-squared value for testing set:  1.0
	Lasso
		R-squared value for training set:  0.9993
		R-squared value for testing set:  0.9993
	Support Vector Machine
		R-squared value for training set:  0.8643
		R-squared value for testing set:  0.8708
======================================================

### 3.4. Model Evaluation

#### Model Performance
**Best Model(s):** Both Multiple Linear Regression and Ridge had the highest prediction accuracy. Both with a consistent R-squared value of 1.0 for all four feature datasets.

**Worst Model:** Support Vector Machine performed the worst, particularly in datasets with all features -- including or excluding weather -- where SVM yielded R-squared values slightly below 0.5, as well as noticeably underperforming in datasets with selected features with R-squared values ranging from 0.86 to 0.88.

**With vs. Without Weather:** MLR, Ridge, and Lasso performed consistently, which shows that their models' accuracy was not dependent on the datatypes of features within the dataset. SVM performed marginally better in datasets without weather, with at most a ~1.1% increase in accuracy.

**All Features vs. Selected Features:** SVM performed measurably worse in datasets that contained all features over datasets with selected features. All other models remained consistent.

#### Interpretation
The model results indicate that R-squared values showed a strong correlation between our independent and dependent variables. Our best models showed that our datasets have 100% variability around the mean value which indicates that our regression models are plotted according to our regression line and that our model and target variables are closely aligned. The data shows an exact fit for half the models and slight underfitting for Lasso and Support Vector Machine. This difference was significant, but nonetheless still support our findings for the the data.

#### Hypothesis Testing Results
In our hypothesis testing, we were were able to confirm that there exists a direct correlation in our dataset with our feature and target variables. Our hypotheses are supported by the strong correlation in our data for finding variance in the number of bikeshare users at a station at a given point.

**Correlation with weather and higher numbers of bike-sharing users**\
Bike-sharing users are more likely to bike during prefer to bike in higher temperatures. The data supports this hypothesis, as it is consistent in showing an overall increase, for both customer and subscriber user types, in usage during higher temperatures. Thus, we can conclude that in seasons where Boston weather is clear and warm (above 50 degrees Fahrenheit) such as Summer and Autumn, bikesharing usage is higher than in seasons where temperatures are colder, such as Winter.

**Effect of adding weather features to regression model**\
Adding weather features to our regression models, such as humidity, wind, and temperature affected the accuracy of the models by creating additional noise that made it more difficult to determine the correlation between data points. Although most models were unaffected by the change in data, Support Vector Machine showed a decrease in performance in model tests where weather features were a factor.

**ML Algorithm Hypothesis**\
Our hypothesis was correct as the Multiple Linear Regression algorithm performed the best out of the other regression algorithms in all prediction accounts. Unexpectedly, the Ridge regression algorithm also performed exceptionally well on our datasets.

### 3.5. Model Optimization

In [ ]:
from sklearn.model_selection import GridSearchCV
from scipy.stats import uniform

ridge_params = {'alpha': uniform.rvs(0,2,size=100)}

# apply cross validation grid search to each model
def optimize_model(X_train_selected, y_train):
    info = {}
    # create grid search object with Ridge estimator model and fit on training data
    grid_search_ridge = GridSearchCV(Ridge(), ridge_params, cv=5)
    grid_search_ridge.fit(X=X_train_selected, y=y_train)

    # grid search results
    print("\tBest parameters: ", grid_search_ridge.best_params_)
    print("\tBest cross-validation score: ", grid_search_ridge.best_score_)
    info['param'] = grid_search_ridge.best_params_
    info['score'] = grid_search_ridge.best_score_

    return info

In [ ]:
print("All features without weather")
all_without_weather = optimize_model(X_train_scaled, y_train)
print("All features with weather")
all_with_weather = optimize_model(X_train_weather_scaled, y_train)
print("Selected features without weather")
selected_without_weather = optimize_model(X_train_selected, y_train)
print("Selected features with weather")
selected_with_weather = optimize_model(X_train_selected_weather, y_train)

All features without weather
	Best parameters:  {'alpha': 0.017096246387845238}
	Best cross-validation score:  0.9999999855771777
All features with weather
	Best parameters:  {'alpha': 0.017096246387845238}
	Best cross-validation score:  0.9999999852114723
Selected features without weather
	Best parameters:  {'alpha': 0.017096246387845238}
	Best cross-validation score:  0.9999999890979037
Selected features with weather
	Best parameters:  {'alpha': 0.017096246387845238}
	Best cross-validation score:  0.9999999887018223

#### Tuning
In order to ensure that our results were not overfitted, the model is optimized with the Ridge regression algorithm in order to tune the model to different alpha values. By setting a tuning parameter to regularize the model using cross-validation grid search, we ensure that data values are regressed into the mean value and controlled to reduce the possibility of errors by training, tuning, and evaluating our model.

By performing model optimization, we found that reducing the alpha values decreases the model complexity and prevents the model from potentially overfitting.

### 3.6. Model Testing

In [ ]:
def test_model(model_info, X_train, X_test, y_train, y_test):
  alpha = model_info['param']['alpha']
  model = Ridge().set_params(alpha=alpha).fit(X=X_train, y=y_train)
  print("\tTuned alpha value:", alpha)
  print("\tR-squared value for training set: ", r2_score(y_train, model.predict(X_train)))
  print("\tR-squared value for testing set: ", r2_score(y_test, model.predict(X_test)))

In [ ]:
print("All features without weather: ")
test_model(all_without_weather, X_train_scaled, X_test_scaled, y_train, y_test)
print("All features with weather: ")
test_model(all_with_weather, X_train_weather_scaled, X_test_weather_scaled, y_train_weather, y_test_weather)
print("Selected features without weather: ")
test_model(selected_without_weather, X_train_selected, X_test_selected, y_train, y_test)
print("Selected features with weather: ")
test_model(selected_with_weather, X_train_selected_weather, X_test_selected_weather, y_train_selected_weather, y_test_selected_weather)

All features without weather:
	Tuned alpha value: 0.017096246387845238
	R-squared value for training set:  0.9999999908464711
	R-squared value for testing set:  0.9999999906947361
All features with weather:
	Tuned alpha value: 0.017096246387845238
	R-squared value for training set:  0.9999999906492127
	R-squared value for testing set:  0.9999999904278032
Selected features without weather:
	Tuned alpha value: 0.017096246387845238
	R-squared value for training set:  0.9999999930409564
	R-squared value for testing set:  0.9999999930342569
Selected features with weather:
	Tuned alpha value: 0.017096246387845238
	R-squared value for training set:  0.9999999928079811
	R-squared value for testing set:  0.9999999926675692

<a id="4"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 4. DISCUSSION

### 4.1. Interpretation

#### Summary
In this report, we examined the relationships between bikesharing variables, including time of day and date, temperature, season, and type of user, and identified its affect on the number of total users at a given station on a particular day. We aggregated data from Boston's Bluebikes Program as well as a weather dataset for 2020, cleaned and visualized data to analyze potential trends between our identified feature variables and target. 

In conducting this project, we identified several hypotheses that we wanted to prove, which centered around our research question of whether the frequency of bike-sharers at a given time is affected by weather changes. We used data science techniques to extract our features, scale and preprocess our data to prepare it for rigorous analysis using machine learning through the testing, training, and validation framework. We identified four machine learning algorithms in order to train a model to analyze patterns within the data.

Once we established our machine learning model framework, we analyzed the model's performance on our dataset, and used hyperparameterized tuning to calculate the optimal model setup. With this data, we were able to analyze our findings and determine that our hypothesis was, in fact, strongly supported by our data, and that our techniques were confirmed with high confidence.

#### Algorithms
We compared and contrasted four different types of regression algorithms: Multiple Linear, Ridge, Lasso, and Support Vector Machine. Through our project, we determined that both Multiple Linear and Ridge showed the highest performance, as they were able to achieve an exact fit for all four cases: all features with and without weather, and selected features with and without weather. 

For our predictive model, we believe that both Multiple Linear and Ridge regression will provide highly accurate results for our research purposes to determine the total number of bikeshare users on a given day at a specific hour. In our hyperparameterized tuning, we took a closer inspection of the Ridge algorithm and determined that, after finding the best alpha value, the R-squared values calculated have a correlation strength of 99.99%, and show a high performance for our datasets.

All of the algorithms we performed found significance in the correlation of our feature variables and target. Thus, without a doubt, we have identified a strong correlation within our data.

#### Next Steps
This research project encourages future studies for more applications in improving bikesharing programs in Boston and other similar cities. By applying machine learning to existing data, researchers will be able to better understand human behavior within cities and how people interact with public transportation programs. In an effort to further support the environment by reducing traffic congestion and pollution, applying such research knowledge into expanding these programs and encouraging more people to share public bikes through the year can benefit our communities.

Future applications beyond this research project include using predictive behavior to determine which stations would be most likely to be empty or full or understanding how certain demographics engage with bike-sharing programs. Data analysis could also be expanded to include crime data or traffic incidents to better inform bike-sharers of potential danger zones.

<a id="5"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

### CONTRIBUTIONS

Contribution of each team member was divided among the sections as follows,

**Executive Summary**: Nicole\
**Section 1 - Introduction**: Vera\
**Section 2 - Method**: Vera\
**Section 3 - Results**:
  - **3.1 - 3.2**: Vera
  - **3.3 - 3.6**: Nicole

**Section 4 - Discussion**: Nicole